* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
}

.topo {
    height: 40px;
    background-color: royalblue;
    text-align: center;
    color: #fff;
    font-size: 15px;
    line-height: 40px;
}